body {
    background-color: white;
    color: black;;
    float:right;
    width: 80%;
    font-family: 'Poppins', sans-serif;
}

i.skill {
    font-size: 90px;
    padding: 12px;
}


.jumbotron {
background-image: url("../images/coffeecode.jpg");
background-size: cover;
height: 864px;
text-align: center;
padding-top: 300px;
}

#name-jumbotron{
    color: white;
}

#typing{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

.wrapper {
    display: flex;
    width: 100%;
    overflow: auto;
}

#sidebar {
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: lightgray;
    color: darkslategray;
    transition: all 0.3s;
    font-size: 1.2rem;
    padding-top: 200px;
    text-align: center;
    float: left;
}

.project-pic {
    margin: auto;
    height: 14rem;
    width: 14rem;
}


#display-pic {
    height: 14rem;;
    width: 14rem;
    border-radius: 50%;
    margin-top: 20px;
    padding-bottom: 10px;
}

li {
    padding: 10px;
}

section{
    width: 100%;
    padding: 0px 60px;
    box-sizing: border-box;
    position: relative;
}

.background {
    background-color:whitesmoke;
}

.contact-me{
    background-color: whitesmoke;
}
.spacer {
    padding: 20px 0px;
}
/* Side Bar Links Text Style */
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: underline; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: underline; color:black }

.fa-span{
    padding-right: 10px;
}

.dark-section{
    background-color: whitesmoke;
}

.skills-container2{
    margin: auto;
    width: 90%;
}

.footer {
    background-color: lightgray;
    text-align: center;
    padding: 8px;
}